.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.action-btn:hover {
  background-color: rgba(186, 186, 243, 0.845);
}


